:root{
  --asparagus: #87a878ff;
  --terra-cotta: #e26d5aff;
  --cyan-process: #5bc0ebff;
  --dark-blue-gray: #666a86ff;
  --snow: #fffafbff;
  --rich-black-fogra-39: #090c08ff;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  touch-action: pinch-zoom pan-y;
}

.flip-container.flip .flipper {
  box-sizing: content-box;
  transform: rotateY(180deg);
  /* transform: rotateY(180deg)  translateX(-6%);  */
}

.flip-container.slide .flipper.frontcard {
  filter: brightness(90%);
  position: absolute;
  z-index: -20;
  /* left: 20px; */
}

.flip-container.prepare .flipper.backcard {
  opacity: 1;
  transition: display 0s;
  transform: translateX(20px);
}

.flip-container.slide .flipper.backcard {
  filter: brightness(115%);
  /* height: 360px; */
  opacity: 1;
  transform: rotateY(3deg) translateX(700px) translateZ(20px) scale(1, 1.05) rotate(3deg);
  z-index: 20;
  /* left: -20px; */
}

.flip-container.slideback .flipper.backcard {
  filter: brightness(100%);
  opacity: 1;
  transform: translateX(0px) translateZ(20px) rotateY(0deg);
  z-index: 10;
}

.flip-container.slideback .flipper.frontcard {
  filter: brightness(90%);
  transform: translateX(0px) translateZ(-20px);
  z-index: -10;
}

.flip-container, .front, .back {
  height: 200px;
  width: 95%;
}

.flipper.frontcard {
  position: absolute;
  transform: translateX(0px) rotateY(0deg) translateZ(20px);
  z-index: 10;
}

.flipper.backcard {
  filter: brightness(90%);
  opacity: 0;
  position: absolute;
  transform: translateX(0px) translateZ(-20px);
  z-index: -10;
}

/* flip speed goes here */
.flipper {
  c
